<!-- feederfoxnew/home/templates/publishersignup.html-->
{% extends 'base.html' %} <!-- Add this for inheritance -->
{%  load static %}
{% block pagecontent %}
 <!--header starts here -->
 {% include 'header2.html' %}
<!-- about section starts  here -->
<div id="full-bg">
<div class="about-section">
<div class="row">
   <div class="col-md-12">
      <img src="{% static 'dist/images/new-images/aboutus.jpg' %}" alt=""/ style="width:100%;height:637px;margin-top:-20px;">
      <div class="centered">About Us</div>
   </div>
</div>
</div>
   <div class="row">
     <div class="col-md-12">
      <img src="{% static 'dist/images/new-images/About-us.png' %}" alt="" class="img-responsive">
   </div>
</div>
<br>
<div class="container">
   <div class="row">
      <div class="col-md-12">
         <p class="about_para">Feederfox Media offers a broad spectrum of news portal services on a single platform to its readers/viewers across Asia. In the world of digital editions, Feederfox Media updates them about the latest news covering Politics, Business, Sports, Lifestyle, Culture, Entertainment, Technology, etc, that its media associates/partners have generated. It also offers articles/blogs of prominent personalities and their viewpoint concerning their respective fields. The views and opinions so expressed are their own and Feederfox does not subscribe to the same. Its unique business model helps to drive traffic to the website of partners to optimize the digital presence of their content for mutual business growth.</p>
         <p class="about_para">By associating with Feederfox, our partners can enhance their digital presence and also develop an additional revenue stream. It is a win-win business situation for both our partners and Feederfox.</p>
         <p class="about_para">With feeds from a wide range of regional newspapers and magazines, advertising on Feederfox's platform increases visibility and reach for ads. What drives us? With millennials spending more time on their phone, ads on apps get much higher click- throughs than ads on the print medium. The penetration of internet and proliferation of smartphones has enthused us and has renewed our faith in this business. Advertisements on Feederfox can be easily generated and updates are immediate.</p>
      </div>
   </div>
</div>
<br><br><br><br>
<br><br><br><br>
<br><br><br><br>
<!-- about section  ends here -->



{% include 'footer.html' %}
</div>
{% endblock %}

