{% load static %}
{% load crispy_forms_tags %}
{% load widget_tweaks %}
<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=Edge">
<meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
<title>Feederfox Admin Dashboard</title>
<!-- Favicon-->
<link rel="icon" href="favicon.ico" type="image/x-icon">
<link rel="stylesheet" href=" {% static 'dist/css/bootstrap.min_admin.css' %}">
<link rel="stylesheet" href="{% static 'dist/css/jquery-jvectormap-2.0.3.css' %}"/>
<!-- Custom Css -->
<link rel="stylesheet" href="{% static 'dist/css/main.css' %}">
<link rel="stylesheet" href="{% static 'dist/css/all-themes.css' %}" />

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/material-design-iconic-font/2.2.0/css/material-design-iconic-font.min.css">

</head>

<body class="theme-red">
<div class="page-loader-wrapper">
    <div class="loader">
        <div class="preloader">
            <div class="spinner-layer pl-red">
                <div class="circle-clipper left">
                    <div class="circle"></div>
                </div>
                <div class="circle-clipper right">
                    <div class="circle"></div>
                </div>
            </div>
        </div>
        <p>Please wait...</p>
    </div>
</div>
<!-- Overlay For Sidebars -->
<div class="overlay"></div>
<!-- #Float icon -->

<!-- Search  -->
<div class="search-bar">
    <div class="search-icon"> <i class="zmdi zmdi-search"></i> </div>
    <input type="text" placeholder="Search...">
    <div class="close-search"> <i class="zmdi zmdi-close"></i> </div>
</div>
<!-- Top Bar -->
<nav class="navbar">
    <div class="col-12">
        <div class="navbar-header">            
            <a href="javascript:void(0);" class="bars"></a>
            <a class="navbar-brand" href="index.html">FeederFox Media</a>
        </div>
        <ul class="nav navbar-nav navbar-right">
        
            <li><a href=" {% url 'accounts:logout' %} " class="mega-menu" data-close="true"><i class="zmdi zmdi-power"></i></a></li>
            <li><a href=" {% url 'account_change_password' %} "  >Password Reset</a></li>
        </ul>
    </div>
</nav>
<!-- Left Sidebar -->
<aside id="leftsidebar" class="sidebar"> 
    <!-- User Info -->

<div class="user-info">
        <div class="container">
            <div class="image"> <img src="/static/dist/images/logos/logo.png" style="align-self: center;" width="150" height="150" alt="User" /> </div>
        </div>
    </div>
    <!-- #User Info --> 
    <!-- Menu -->
    <div class="menu">
        <ul class="list">
            <li> <a href=" {% url 'dashboard' %} " class="menu-toggle"><span>Dashboard</span></a></li>
            <li> <a href="#" class="menu-toggle"><span> Publisher Management </span> </a>
                <ul class="ml-menu">
                    <li><a href=" {% url 'accounts:publisher_list' %} ">Publisher List</a></li>
                    <li><a href="{% url 'accounts:add_publishers' %}">Add Publisher</a></li>     
                </ul>
                 </li>
            <li> <a href="#" class="menu-toggle"><span> Customer Management </span> </a>
                <ul class="ml-menu">
                    <li><a href="{% url 'accounts:customer_list' %}">Customer List</a></li>
                    <li><a href="{% url 'accounts:add_customers' %}">Add Customer</a></li>     
                </ul>
                 </li>

            <li> <a href="#" class="menu-toggle"> <span> Advertiser Management </span> </a>
                <ul class="ml-menu">
                    <li><a href="{% url 'accounts:advertiser_list' %}">Advertiser List</a></li>
                    <li><a href="{% url 'accounts:add_advertisers' %}">Add Advertiser</a></li>     
                </ul>
                 </li> 
            
            <li> <a href="#" class="menu-toggle"> <span> Posts </span> </a>
                <ul class="ml-menu">
                    <li><a href="{% url 'accounts:view_post' %}">View Posts</a></li>
                    <li><a href="#">Add Posts</a></li>     
                </ul>
                 </li>      
    </div>
    <!-- #Menu --> 
</aside>


<!-- Right Sidebar -->


<!-- Main Content -->
<section class="content home">
    <div class="container-fluid">
        <div class="block-header">
            <div class="row">
            </div>
<div class="container">
	

            <div class="container">
                <div class="col-sm-12">
                <h4>Edit Advertisers ...</h4>

					<form action="." method="POST" class="form">
						            {% csrf_token %}
                      <!-- {% for field in form.visible_fields %}
                                <div class="form-group form-float">
                                    <div class="form-line">
                                  {{ field.label_tag }}

                                  {% if form.is_bound %}
                                    {% if field.errors %}
                                      {% render_field field class="form-control is-invalid" %}
                                      {% for error in field.errors %}
                                        <div class="invalid-feedback">
                                          {{ error }}
                                        </div>
                                      {% endfor %}
                                    {% else %}
                                      {% render_field field class="form-control is-valid" %}
                                    {% endif %}
                                  {% else %}
                                    {% render_field field class="form-control" %}
                                  {% endif %}

                                  {% if field.help_text %}
                                    <small class="form-text text-muted">{{ field.help_text }}</small>
                                  {% endif %}
                                </div>
                                </div>
                              {% endfor %} -->
                              {{ form|crispy}}
					            <br>
					            <button type="submit" class="btn btn-raised waves-effect bg-red"> Update </button>
					            
					        
					        </form>

					        </div>
    	</div>
	</div>
</section>

<!-- Jquery Core Js --> 
<script src=" {% static 'dist/js/libscripts.bundle.js' %}"></script> <!-- Lib Scripts Plugin Js --> 
<script src="{% static 'dist/js/vendorscripts.bundle.js' %}"></script> <!-- Lib Scripts Plugin Js --> 

<script src="{% static 'dist/js/jvectormap.bundle.js' %}"></script> <!-- JVectorMap Plugin Js -->
<script src="{% static 'dist/js/sparkline.bundle.js' %}"></script> <!-- Sparkline Plugin Js -->
<script src="{% static 'dist/js/morrisscripts.bundle.js' %}"></script><!-- Morris Plugin Js -->
<script src="{% static 'dist/js/flotscripts.bundle.js' %}"></script><!-- Flot Charts Plugin Js -->

<script src="{% static 'dist/js/mainscripts.bundle.js' %}"></script>
<script src="{% static 'dist/js/index.js' %}"></script>
</body>
</html>