{% extends 'base.html' %}
{% load static %}
{% block pagecontent %}
<div class="bg-header">
  <div class="container">
   <div class="row">
       <div class="col-md-6">
        <div id="weather-frame" class="container">
          <div id="upper-detail">
            <div id="city-name"></div>
          </div>
          <div id="lower-detail">
            <div class="row">
              <div id="temp" class="col-xs-6">
              </div>
            </div>
          </div>
        </div>
        <img src="{% static 'dist/images/logos/logo.png' %}" class="img-responsive header_img">
      </div>
      <div class="col-md-2" >
        <div class="dropdown drop1">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user"></i> Publisher
            <span class="caret"></span></a>
            <ul class="dropdown-menu d1">
              <li><a href=" {% url 'accounts:signup' %} ">Sign Up</a></li>
              <li><a href=" {% url 'accounts:login' %} ">Login</a></li>
            </ul>
          </div>
        </div>
        <div class="col-md-2">
         <div class="dropdown drop1">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user"></i> Customer
            <span class="caret"></span></a>
            <ul class="dropdown-menu d1">
              <li><a href=" {% url 'accounts:signup' %} ">Sign Up</a></li>
              <li><a href=" {% url 'accounts:login' %} ">Login</a></li>
            </ul>
          </div>
        </div>
        <div class="col-md-2">
         <div class="dropdown drop1">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user"></i> Advertiser
            <span class="caret"></span></a>
            <ul class="dropdown-menu d1">
              <li><a href=" {% url 'accounts:signup' %} ">Sign Up</a></li>
              <li><a href=" {% url 'accounts:login' %} ">Login</a></li>
            </ul>
          </div>
        </div>
      </div>
</div>
</div>

 <!-- header ends here -->

<!-- bse scrolling bar starts here -->
<div class="runtext-container">
<div class="main-runtext">
<marquee direction="" onmouseover="this.stop();" onmouseout="this.start();">

<div class="holder">

     <div class="text-container">
   &nbsp; &nbsp; <img src=""> &nbsp; <a data-fancybox-group="gallery" class="fancybox" " title="Feederfox">BSE updates coming soon!!! Please come back again for live updates!! </a>
    </div>
  
     <div class="text-container">
   &nbsp; &nbsp; <img src=""> &nbsp; <a data-fancybox-group="gallery" class="fancybox"  title="Feederfox">BSE updates coming soon!!! Please come back again for live updates!! </a>
    </div>
    
     <div class="text-container">
   &nbsp; &nbsp; <img src=""> &nbsp; <a data-fancybox-group="gallery" class="fancybox"  title="Feederfox">BSE updates coming soon!!! Please come back again for live updates!! </a>
    </div>
     
     <div class="text-container">
   &nbsp; &nbsp; <img src=""> &nbsp; <a data-fancybox-group="gallery" class="fancybox" title="Feederfox">BSE updates coming soon!!! Please come back again for live updates!! </a>
    </div>
     
     <div class="text-container">
   &nbsp; &nbsp; <img src=""> &nbsp; <a data-fancybox-group="gallery" class="fancybox"  title="Feederfox">BSE updates coming soon!!! Please come back again for live updates!! </a>
    </div>
     
     <div class="text-container">
   &nbsp; &nbsp; <img src=""> &nbsp; <a data-fancybox-group="gallery" class="fancybox"  title="Feederfox">BSE updates coming soon!!! Please come back again for live updates!! </a>
    </div>
     
     <div class="text-container">
   &nbsp; &nbsp; <img src=""> &nbsp; <a data-fancybox-group="gallery" class="fancybox"  title="Feederfox">BSE updates coming soon!!! Please come back again for live updates!! </a>
    </div>
     
     <div class="text-container">
   &nbsp; &nbsp; <img src=""> &nbsp; <a data-fancybox-group="gallery" class="fancybox" title="Feederfox">BSE updates coming soon!!! Please come back again for live updates!! </a>
    </div>
    
</div>

</marquee>
</div>
</div>
 <!-- bse scrolling bar ends here -->

 <!-- navigation bar -->
 <nav class="navbar navbar-default w3_megamenu" role="navigation">
  <div class="navbar-header">
    <button type="button" data-toggle="collapse" data-target="#defaultmenu" class="navbar-toggle"><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button><a href="#" class="navbar-brand"></a>
  </div><!-- end navbar-header -->

  <div id="defaultmenu" class="navbar-collapse collapse">
    <ul class="nav navbar-nav">
     <li class="dropdown"><a href="#" data-toggle="dropdown" class="dropdown-toggle">Home <b class="caret"></b></a>
        <ul class="dropdown-menu" role="menu">

          <li><a href="">NewsChannels</a></li>
          <li><a href="">Newspapers</a></li>
          <li><a href="">Magazines</a></li>
          <li><a href="">Social Channels</a></li>
        </ul>
      </li> 
      <!-- Mega Menu -->
        <li class="dropdown w3_megamenu-fw"><a href="#" data-toggle="dropdown" class="dropdown-toggle">Political Forum<b class="caret"></b></a>
          <ul class="dropdown-menu fullwidth">
            <li class="w3_megamenu-content withdesc">
              <div class="row">
                <div class="col-sm-6">
                  <ul>
                    <li><a data-description="" href="">
                      <div class="card elevation-2dp box">
                          <div class="row">
                          <div class="col-md-5"></div>
                          <div class="col-md-3">
                          <img src="dist/images/modi.jpg" alt="" style="margin-left:-8px;height:130px;">
                        </div>
                        </div>
                      
                   
                        <div class="supporting-text">
                          <p> Narendra Damodardas Modi (Gujarati: [ˈnəɾeːnd̪rə d̪aːmoːd̪əɾˈd̪aːs ˈmoːd̪iː] (About this sound listen); born 17 September 1950) is an Indian politician serving as the 14th and current Prime Minister of India since 2014. He was the Chief Minister of Gujarat from 2001 to 2014, and is the Member of Parliament for Varanasi. Modi, a member of the Bharatiya Janata Party (BJP), is a Hindu nationalist and member of the right-wing Rashtriya Swayamsevak Sangh (RSS).</p>
                        </div>
                      </div>
                    </a></li>
                  </ul>
                </div>
                <div class="col-sm-6">
                  <ul>
                   <li><a data-description="" href="">
                       <div class="card elevation-2dp box">
                        <div class="row">
                          <div class="col-md-5"></div>
                          <div class="col-md-3">
                          <img src="dist/images/rahul_gandhi.jpg" alt="" style="margin-left:-8px;height:130px;">
                        </div>
                        </div>
                        <div class="supporting-text">
                          <p> Rahul Gandhi About this sound pronunciation (help·info) [ˈraːɦʊl ˈɡaːnd̪ʱiː] (born 19 June 1970) is an Indian politician. The son of Sonia and Rajiv Gandhi, he is the President of the Indian National Congress and serves such additional offices as the Chairperson of the Indian Youth Congress and the National Students Union of India.</p>
                        </div>
                      </div>
                    </a></li>
                  </ul>
                </div>
              </div>
            </li>
            <li class="w3_megamenu-content withdesc">
              <div class="row">
                <div class="col-sm-6" style="margin-top:-50px;">
                  <ul>
                    <li><a data-description="" href="">
                      <div class="card elevation-2dp box">
                        <div class="row">
                          <div class="col-md-5"></div>
                          <div class="col-md-3">
                          <img src="dist/images/kumarswamy.jpg" alt="" style="margin-left:-8px;height:130px;">
                        </div>
                        </div>
                        <div class="supporting-text">
                          <p> Haradanahalli Devegowda Kumaraswamy (born 16 December 1959)[4] is an Indian politician and current Chief Minister of Karnataka. He is the President of Karnataka State Janata Dal (Secular) and son of former Prime Minister of India H. D. Deve Gowda.[5] During his 2006 cheif ministerial period Karnataka state recorded all time high GDP growth and he was called people's CM</p>
                        </div>
                      </div>
                    </a></li>
                  </ul>
                </div>
             
                <div class="col-sm-6" style="margin-top:-50px;">
                  <ul>
                   <li><a data-description="" href="">
                       <div class="card elevation-2dp box">
                        <div class="row">
                          <div class="col-md-5"></div>
                          <div class="col-md-3">
                          <img src="dist/images/Nitish_Kumar2.jpg" alt="" style="margin-left:-8px;height:130px;">
                        </div>
                        </div>
                        <div class="supporting-text">
                          <p> The Chief Minister of Bihar is the chief executive of the Indian state of Bihar. As per the Constitution of India, the Governor of Bihar is the state's de jure head, but de facto executive authority rests with the chief minister. </p>
                        </div>
                      </div>
                    </a></li>
                  </ul>
                </div>
              </div>
            </li>
          </ul>
        </li>
        <li class="dropdown"><a href="#" data-toggle="dropdown" class="dropdown-toggle">NewsFeeds <b class="caret"></b></a>
        <ul class="dropdown-menu" role="menu">

          <li><a href="">Headlines/Breaking News</a></li>
          <li><a href="">Educational</a></li>
          <li><a href="">Entertainment</a></li>
          <li><a href="">Business</a></li>
          <li><a href="">Sports</a></li>
          <li><a href="">Lifestyle</a></li>
          <li><a href="">Social</a></li>
          <li><a href="">World/International</a></li>
          <li><a href="">Global</a></li>
        </ul>
      </li>
        <li class="dropdown"><a href="#" data-toggle="dropdown" class="dropdown-toggle">Article/Blog <b class="caret"></b></a>
        <ul class="dropdown-menu" role="menu">

          <li><a href="">Business/Economic</a></li>
          <li><a href="">Write Article</a></li>
          <li><a href="">E-books</a></li>
        </ul>
      </li>

      <li class="dropdown"><a href="#" data-toggle="dropdown" class="dropdown-toggle">Business <b class="caret"></b></a>
        <ul class="dropdown-menu" role="menu">

          <li><a href="">Consulting</a></li>
        </ul><!-- end dropdown-menu -->
      </li><!-- end standard drop down -->
      <!-- end dropdown w3_megamenu-fw -->
    </ul><!-- end nav navbar-nav -->
  </div><!-- end #navbar-collapse-1 -->

</nav><!-- end navbar navbar-default w3_megamenu -->
<div class="container">
<!-- Contact Us Page Starts here -->
<h3>Outmuscling-Insurance-Agents</h3>

 
<h4>By Sanjeev Jain</h4>

<pre style="FONT-SIZE:13px; COLOR:#000000; LINE-HEIGHT:20px; FONT-FAMILY:Arial,Helvetica,sans-serif"> 
When Zain Jeewanjee speaks on how to sell insurance on the Internet, people listen. The founder and CEO of g1g.com has made insurance—often ridiculed for its persistent agents and hidden conditions—a nice place to be in and to make money too. 

That’s why he gets invited to speak at various forums on Internet marketing and making the Internet a money-spinner. It was his slick marketing quotient that made g1g.com a one-stop shop for buying travel health insurance and Jeewanjee a pioneer in marketing insurance over Internet. 

But there’s more to Jeewanjee’s skills than just Internet marketing. He also owns Zain Jeewanjee Insurance Agency, the Silicon Valley’s largest insurance agency that insures everything from wedding ring to international employee’s workers compensation coverage. His main business here is the Workers Comp market. “Our focus is to find cost effective risk management solutions for our diverse range of corporate clients,” says Jeewanjee.

Jeewanjee came to the U.S. from Indian subcontinent in 1983. He worked with an insurance broker. However the job didn’t excite him. “I didn’t like selling on phone,” Jeewanjee says.

Then a tragedy struck. His son, who was sick, died and he didn’t have an insurance cover. Jeewanjee then hit upon the idea of starting a health insurance company to help International travelers. He started Zain Jeewanjee Insurance Agency in 1985. As the business began to flourish, he started offering corporate benefits to large companies. “Zain is a professional, experienced businessman with excellent contacts and rapport with many insurance and financial leaders. I have had the great pleasure of working with Zain on several projects and have enjoyed a productive and profitable result,” says Jim Greth, Senior Vice-President of Word and Brown, one of the largest developers and distributors of health benefit plan models and solutions to licensed brokers.

In 1999, Jeewanjee took a bold step—a step no one else had taken earlier. It was the first instance of an insurance agent going online and hosting a suite of travel health insurance products for international customers visiting the U.S. “Nobody had done that before,” says Jeewanjee. 

Customers have been very receptive to his idea. “They can come online, see the price, quote and buy the insurance,” Jeewanjee adds. And the best part is insurance can be claimed instantly. Imagine your manager tells you to travel abroad on a short notice. It’s a Friday evening and you need to pack up bags for the travel the next day. You need a travel medical insurance and can’t go anywhere as insurance offices are shut for the weekend. Traveling without insurance is a risky proposition. What do you do in such a scenario? Your best bet would be online insurers like g1g.com. As they operate 24X7, your chances of going without insurance are slim. What makes it even more important is the ease of use. Customers need to key in only a few details. “Absolutely no paperwork is involved and it’s hassle free,” he says.

He knew customers would buy their insurance needs only if he offered them what they needed. So he partnered with some of the country’s biggest corporations like Metropolitan Life Insurance, insure.com, Word and Brown and gotrump.com to help people during their travel, both domestic and outbound.

G1g works with its partners in many ways, including marketing their products through niche sites and developing insurance e-commerce solutions for the providers, and taking advantage of other co-marketing opportunities like metg1g.com for Metlife, g1g4corp.com, an Intranet based site for large corporate companies. “Metlife has 17,000 insurance agents and when a customer approaches them for travel health plan, their agents link up to us,” says Jeewanjee. He also says 30,000 insurance advisors of Word and Brown hook up to a g1g supported site for insurance services. 

“G1G creates a web presence through a website for partners where they will be able to sell international medical, travel medical defense based act medical and many other insurance products internationally online and earn additional revenue,” Jeewanjee says. Besides providing direct support to the partners, overheads like processing and maintenance on the website is handled complete automatically with no interaction required from partners side. This saves his partners money. “For online distribution, they come to g1g.com,” Jeewanjee says. “If they do it themselves, it costs them minimum of a few hundred thousand dollars, so we say we’ll do it for you.”

Jeewanjee knows how to market products well over the Net. To bring maximum traffic on his site, he advertised on Google and Overture. He still advertises on them and pays close to $50,000 annually. He also started offering corporate services to large corporate clients. One such client is Cisco whose employees buy online insurance when they need travel abroad. “Even Cisco prefers the services of g1g to help its employees while they travel,” Jeewanjee says proudly.

Only 12 percent Americans buy travel insurance as opposed to Europe where 60-70 percent of the population travels with their insurance. The American travel health insurance market has doubled since 9/11, and Jeewanjee sees the market doubling over the next few years. It looks Jeewanjee knew the secrets to customers needs and pockets. From the day he had the plans for the website, he knew what his website should be. Early on, he organized a classroom competition. Students were asked to spell Jeewanjee. The answers were exciting and looking at whatever they wrote, Jeewanjee knew he should start a site with as many similar sounding names. This worked wonders for him in the form of hits. “Even when a customer types Jeewanjee wrongly, he lands in the right site,” Jeewanjee quips.

For Jeewanjee, the initial push to go online came from the technology hotbed of Silicon Valley. “In the 1980s the Silicon Valley was about to explode and we were at the right place and right time.” His peers comprised technology savvy people whose day would begin and end with tech talks. He says though the technology industry thrived here, insurance agents were a century behind in adopting technology. “If you call your insurance agent and ask him to send you insurance certificates on PDF, he’ll ask you what is a PDF,” Jeewanjee says. Computer ignorance amongst insurance agents came as a blessing in disguise to Jeewanjee. “g1g.com is probably the most advanced insurance broker in the country today. Everything is done by PDF, email and online.”

So how does this measure up to expenditure? Having a site and attracting people means spending a whole lot of money and sometimes it can just consume all your profits. But Jeewanjee has a solution. He says as opposed to a traditional way of selling insurance, online selling is a lot cheaper. It costs only half. “While selling a insurance to customer using a agent would cost companies around $1, sending details via email using PDF costs just 40-60 cents,” Jeewanjee quips. Jeewanjee spent all the saved money on improving customer services.

Starting an online industry meant Jeewanjee had to be good in technology. But his brilliant business and marketing strategies overruled his non-relation to technology. Though Jeewanjee’s idea was stupendous and changed the way insurance is dealt with, he did not seek any VC funding and started the company with internal accruals. Strong negotiations and bargaining is in the blood of Gujaratis. “They always bargain for the best deals and stick to it,” he says. “Gujaratis give value to the other side. They give more to receive more.” As a true blood Gujarati, Jeewanjee says he gets the best price for his deals from partners because he pays them on time. A good Gujarati negotiator that he is, he brought in Zoaib Rangwala, a veteran with 25 years of service in companies like Philips and EMC, as an advisor.

Rangwala’s experience came handy for Jeewanjee. Everything in the company was either automated or outsourced to the maximum with employee base remaining minimum. Starting with three employees, a fourth employee was added last year. Mundane things like a call center was set up in Pakistan, while India develops and delivers the software. Some of it is done in-house. Underwriting too is done in India. Their revenue has risen from $100,000 in 1999 to over $7 million now. 

The secret to such a growth lies in Jeewanjee’s understanding of the consumer psyche and behavior. He believes only people interested in buying insurance products should come to the site and not others who would just browse through the site to while away time- a lesson he learnt during his days at an insurance agency when potential customers would shoo away insurance agents. 

With the footprints of his company extending to 42 states, Jeewanjee says it is better equipped to serve the customers throughout the country than the traditional agents who are limited to their geographies alone. “We send you a PDF with a price quote and you decide at your convenience,” Jeewanjee quips. 

Today 60 percent of his company’s revenues come from advisors, 40 percent online. The revenues are about $25 million. 

Since the late 80s, his specialty has been the startups and Indian owned businesses in the Silicon Valley. “I would safely say we are considered one of the best insurance agency in the valley for the startups,” Jeewanjee says. “Nobody understands startups better like we do. “Where there’s a pain, I go after that market. When you offer solutions, there is acceptance,” Jeewanjee says. “Zain provides straight-forward answers to questions related to insurance business in an industry where useful information is hard to get when you need it. Zain and his company are a useful resource for start-ups as well as larger companies,” says Mukesh Ahuja, another of his customers.

So much for a person who came to the U.S. without a background in Insurance and yet made Insurance a business that everyone enjoys. 
</pre>
</div>
<br><br>



 <div class="bg-footer">
    <!-- footer -->
    <div class="footer">
        <div class="container">
            <div class="row ">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12" style="margin-top:-47px;">
                    <div class="ft-logo"><img src="dist/images/only_logo.png" alt="" style="width:136px;height:87px;"></div>
                </div>
            </div>
            <hr class="footer-line">
            <div class="row" style="margin-top:-20px;">
                <!-- footer-about -->
                <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 col-6 ">
                    <div class="footer-widget">
                        <div class="footer-title">Company</div>
                        <ul class="list-unstyled">
                            <li><a href="#" class="footer_links">About</a></li>
                            <li><a href="#" class="footer_links">Support</a></li>
                            <li><a href="#" class="footer_links">Press</a></li>
                            <li><a href="#" class="footer_links">Legal & Privacy</a></li>
                        </ul>
                    </div>
                </div>
                <!-- /.footer-about -->
                <!-- footer-links -->
                <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 col-6 ">
                    <div class="footer-widget ">
                        <div class="footer-title">Quick Links</div>
                        <ul class="list-unstyled">
                            <li><a href="#" class="footer_links">News</a></li>
                            <li><a href="#" class="footer_links">Contact us</a></li>
                            <li><a href="#" class="footer_links">FAQ</a></li>
                        </ul>
                    </div>
                </div>
                <!-- /.footer-links -->
                <!-- footer-links -->
                <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 col-6 ">
                    <div class="footer-widget ">
                        <div class="footer-title">Social</div>
                        <ul class="list-unstyled">
                            <li><a href="https://twitter.com/feederfoxmedia?lang=en" class="footer_links">Twitter</a></li>
                            <li><a href="https://www.google.co.in/search?rlz=1C1CHBF_enIN802IN803&biw=1600&bih=794&ei=G3xhW8CWBoKurQG5pbWgBg&q=feederfox+media+bangalore&oq=Feeder+Fox+Media&gs_l=psy-ab.1.0.0i71k1l8.0.0.0.63812.0.0.0.0.0.0.0.0..0.0....0...1c..64.psy-ab..0.0.0....0.18pMIgbxhZI" class="footer_links">Google +</a></li>
                            <li><a href="https://in.linkedin.com/company/feederfox-media" class="footer_links">Linked In</a></li>
                            <li><a href="https://www.facebook.com/FeederFox" class="footer_links">Facebook</a></li>
                        </ul>
                    </div>
                </div>
                <!-- /.footer-links -->
                <!-- footer-links -->
                <div class="col-xl-3 col-lg-3 col-md-12 col-sm-6 col-6 ">
                    <div class="footer-widget ">
                        <h3 class="footer-title">Subscribe Newsletter</h3>
                        <form>
                            <div class="newsletter-form">
                                <input class="form-control" placeholder="Enter Your Email address" type="text">
                                <button class="btn btn-sm btn-footer" type="submit">Go</button>
                            </div>
                        </form>
                    </div>
                </div>
                <!-- /.footer-links -->
                <!-- tiny-footer -->
            </div>
            <div class="row ">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 text-center ">
                    <div class="tiny-footer">
                        <p class="footer_para">Copyright © All Rights Reserved 2020 | Design & Development by <a href="#" class="copyrightlink">Feederfox</a></p>
                    </div>
                </div>
                <!-- /. tiny-footer -->
            </div>
        </div>
    </div>
    <!-- /.footer -->
  </div>

<script type="text/javascript">
  $(document).ready(function(){
    $(".dropdown").hover(            
        function() {
            $('.dropdown-menu', this).not('.in .dropdown-menu').stop(true,true).slideDown("400");
            $(this).toggleClass('open');        
        },
        function() {
            $('.dropdown-menu', this).not('.in .dropdown-menu').stop(true,true).slideUp("400");
            $(this).toggleClass('open');       
        }
    );
});
</script>
</body>
</html>
{% endblock %}