

<!-- feederfoxnew/home/templates/publishersignup.html-->
{% extends 'base.html' %} <!-- Add this for inheritance -->
{%  load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Careers {% endblock %}</title>
</head>
<body>
{% block pagecontent %}
 {% include 'header2.html' %}
<!-- <div class="jobs-nav">
  <div class="logo">CompanyCam</div>
  <div class="apply-now">Apply Now</div>
</div> -->

<div class="jobs-header">
  <div class="item-title">FeederFox is the fastest growing media aggregator. Join us!</div>
  <div class="overlay"></div>
</div>

<div class="cc-about">
  <div class="item-details">
    <div class="single-about">
      <div class="single-content-wrap">
        <div class="single-title">Our Headquarters</div>
        <div class="single-details">Headquarters is located at World Trade Center, 22nd floor, Regus, Unit no 2201 Brigade Gateway Campus, 26/1, Dr Rajkumar Rd, Malleshwaram West, Bengaluru, Karnataka 560055 </div>
      </div>
      <div class="single-content-graphic headquarters"></div>
    </div>
    <div class="single-about">
      <div class="single-content-wrap">
        <div class="single-title">The App</div>
        <div class="single-details">Download Android and IOS app.<br/><br/><i class="fa fa-android fa-2x" aria-hidden="true"></i><br/><br/><i class="fa fa-apple fa-2x" aria-hidden="true"></i></div>
      </div>
      <div class="single-content-graphic app"></div>
    </div>
    <div class="single-about">
      <div class="single-content-wrap">
        <div class="single-title">Perks</div>
        <div class="single-details">Team swag and a water cooler. These are the kind of benefits you can brag about! Serious flexibility and handsome pay.</div>
      </div>
      <div class="single-content-graphic perks"></div>
    </div>
  </div>
</div>

<div class="cc-beliefs">

  <div class="item-title">
    A couple things about our team.
  </div>

  <div class="item-content">

    <div class="single-belief">
      <div class="belief-title">Publishers First</div>
      <div class="belief-content">We concentrate on Publishers and promoting their contents so that it works for them!</div>
    </div>

    <div class="single-belief">
      <div class="belief-title">As a Team</div>
      <div class="belief-content">We win by working together. Display your talent by running with unique ideas, but resolve together to make Feederfox the best News Aggregator available.</div>
    </div>

    <div class="single-belief">
      <div class="belief-title">Genuine and real</div>
      <div class="belief-content">We're straight forward as a team and honest with the customer, without being an ass.</div>
    </div>

    <div class="single-belief">
      <div class="belief-title">Let's Move</div>
      <div class="belief-content">The best way to see if it works is to see if it works. We're not afraid to learn from trying something new.</div>
    </div>

  </div>

</div>

<!-- <div class="job-listings">

  <div class="listing-title">Current Openings</div>

  <div class="single-job">
    <div class="icon"><i class="fa fa-code-fork"></i></div>
    <div class="job-title">Mobile Developer</div>
    <div class="job-description">Do you got the chops to build Android or iOS applications.</div>
    <a href="#" class="job-cta">
      Apply Now
    </a>
  </div>

  <div class="single-job">
    <div class="icon"><i class="fa fa-code-fork"></i></div>
    <div class="job-title">Mobile Developer</div>
    <div class="job-description">Do you got the chops to build Android or iOS applications.</div>
    <a href="#" class="job-cta">
      Apply Now
    </a>
  </div>

  <div class="single-job">
    <div class="icon"><i class="fa fa-code-fork"></i></div>
    <div class="job-title">Mobile Developer</div>
    <div class="job-description">Do you got the chops to build Android or iOS applications.</div>
    <a href="#" class="job-cta">
      Apply Now
    </a>
  </div>

</div>

<div class="job-footer">
  We're always looking for creative problem solvers
</div> -->

<div class="container">
  <div class="item-title-new">
    Current openings
  </div>
  <div class="row">
    <div class="col-md-3">
  <div class="wrapper">
    <div class="orange-top orange-border"></div>
    <div class="orange-left orange-border"></div>
    <a class="white-card" href="#">
      <img src="https://s3.amazonaws.com/levelup-assets/temp/design.png" alt="Design"/>
      <p class="category">HR Recruiter: 0-2yr <br/>Experience</p>
      <span class="CTA" data-toggle="modal" data-target="#myModal1">Job Description</span>
            <!-- Modal -->
<div id="myModal1" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">HR Recruiter: 0-2yr experience</h4>
      </div>
      <div class="modal-body">
        <p style="font-size:20px;">

Feederfox is looking for an experienced, smart, aggressive, enthusiastic and a self-motivated HR recruiter to join their Recruitment Team. The role will allow you the opportunity to set up and be part of a new HR experience for one of the fastest growing start up by recruiting the best of talent.<br/>

<b>Roles and Responsibilities:</b>

You will be responsible for growing Feederfox employee base by recruiting the best across both Non-Tech and Tech positions The role will require you to source, screen, interview, assess and recruit high volumes of candidates You will need to ensure continuous pipeline creation for our various open positions The role requires Creation of Job description Identification of prospective candidates using a variety of channels/sources Assessing candidates to ensure role match, cultural fitment etc Arranging management interviews by coordinating schedules. Following-up references and checking of credits Successful closures of open positions Candidates should Have at least experience in Recruitment.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>
    </a>
  </div>
</div>

<div class="col-md-3">
  <div class="wrapper">
    <div class="orange-top orange-border"></div>
    <div class="orange-left orange-border"></div>
    <a class="white-card" href="#">
      <img src="https://s3.amazonaws.com/levelup-assets/temp/design.png" alt="Design"/>
      <p class="category">Content Writer: 2-4yr Experience</p>
      <span class="CTA" data-toggle="modal" data-target="#myModal2">Job Description</span>
      <!-- Modal -->
<div id="myModal2" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Content Writer: 2-4yr Experience</h4>
      </div>
      <div class="modal-body">
        <p style="font-size:20px;">

We're looking for a skilled content writer to share our story with the world. We need your help in making Freshworks a well-known brand across the globe. You will craft valuable content that will wow our prospects and educates our Clients. Your work will involve putting together thought leadership articles, writing blog posts, sketching educational collateral, framing scripts for feature videos, building presentations and so on. Within our brand guidelines, you will have complete creative freedom in execution.<br/>

<b>Responsibilities</b>

Develop, write and deliver persuasive copy for enterprise prospects in the form of whitepapers, industry research, email marketing campaigns, sales collateral, videos and blogs.
Work with design and web development teams to launch collateral.
Measure and improve content programs.
Review and implement process changes to drive operational excellence.<br/>

<b>Requirements:</b>

With good Experience of content writing.
Bachelor's degree in English, communications, linguistics, or related field (Master's degree, a plus).
Tech-savvy with the ability to explain complex technical matters in a simple manner without using jargon.
Confirmed experience to deliver high-quality output in a short span of time.
</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>

    </a>
  </div>
</div>

<div class="col-md-3">
  <div class="wrapper">
    <div class="orange-top orange-border"></div>
    <div class="orange-left orange-border"></div>
    <a class="white-card" href="#">
      <img src="https://s3.amazonaws.com/levelup-assets/temp/design.png" alt="Design"/>
      <p class="category">Media Associate: Intern/Fulltime</p>
      <span class="CTA" data-toggle="modal" data-target="#myModal3">Job Description</span>
      <!-- Modal -->
<div id="myModal3" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Media Associate: Intern/Fulltime</h4>
      </div>
      <div class="modal-body">
        <p style="font-size:20px;">

Media Associates support the creation, management, and stewardship of FeederFox Media Group’s client media plans. The Media Associate role is a great place to begin your career in the continuously evolving world of advertising. At Feederfox, we provide you extensive training and development opportunities when you join our team. As a Media Associate at you will be working for Publishers, Editors Of Different News Channels, Newspaper, Magazine, Etc. Depending on which group you start off with, you may focus on different functions of the Media Associate role. No matter where you start as a Media Associate, you will have the opportunity to rotate and gain different experiences in the role over time.<br/>

<b>Responsibilities and Duties:</b>

Develop relationships with both client contacts and external vendors.
Develop a solid understanding of consumer and industry insights to analyze competitors.
Inform and influence when and where a client’s advertising dollars should be spent
Develop analytical and negotiation skills.
Monitor Editor Groups, reporting to ensure all ads run as ordered.<br/>

<b>Required Experience, Skills and Qualifications:</b>

You have a Bachelor’s degree, in Journalism, preferably with a concentration in Advertising, Marketing, Communications,
You have demonstrated quantitative and analytical skills but you’ll embrace a role that requires Front end & Back End Support<br/>
. * You have top-notch communication skills (verbal and written).

You have experience developing and presenting your thoughts and ideas.
You think critically, analyze everything and look for unconventional solutions to problems.
You like to speak up with new ideas and challenge the status quo.
You are detail oriented and have exceptional organizational skills.
You thrive on a team, can meet tight deadlines and are comfortable juggling multiple priorities.
You enjoy managing projects and/or processes .
You enjoying learning and are willing to lean in to new opportunities.
You are highly proficient in Microsoft Excel, Power Point and Word.
You can back up all of the above with detailed examples and stories!
<br/>
Benefits:
Certificate, Pre placement offer (PPO)</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>
    </a>
  </div>
</div>


<div class="col-md-3">
  <div class="wrapper">
    <div class="orange-top orange-border"></div>
    <div class="orange-left orange-border"></div>
    <a class="white-card" href="#">
      <img src="https://s3.amazonaws.com/levelup-assets/temp/design.png" alt="Design"/>
      <p class="category">Marketing Manager: 4-7yr experience</p>
      <span class="CTA" data-toggle="modal" data-target="#myModal4">Job Description</span>
            <!-- Modal -->
<div id="myModal4" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Marketing Manager: 4-7yr experience</h4>
      </div>
      <div class="modal-body">
        <p style="font-size:20px;">
          Job Profile: <br/>

Planning and executing marketing campaigns including Destination, Tactical and Brand to deliver the top line revenue target and internet contribution for Feederfox.<br/>

<b>Responsibilities:</b>

Responsible for developing, implementing and executing strategic marketing plans in order to attract potential Clients. Day-to-day tasks include managing and coordinating marketing and creative staff, leading market research efforts to uncover the viability of current and existing products/services, and liaising with media organizations and advertising agencies.<br/>
Responsible for working with executives to determine budgets and targets, with developing pricing strategies for products and services. Should posses the following skill set.<br/>

·       Intimate understanding of traditional and emerging marketing channels.
·       Excellent communication skills.
·       Ability to think creatively and innovatively.
·       Budget-management skills and proficiency.
·       Professional judgment and discretion that comes from years of experience in the field.
·       Analytical skills to forecast and identify trends and challenges.
·       Familiarity with the latest trends, technologies and methodologies in graphic design, web design, production, etc.
</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>
    </a>
  </div>
</div>
</div>
<div class="row">
  <div class="col-md-3">
     <div class="wrapper">
    <div class="orange-top orange-border"></div>
    <div class="orange-left orange-border"></div>
    <a class="white-card" href="#">
      <img src="https://s3.amazonaws.com/levelup-assets/temp/design.png" alt="Design"/>
      <p class="category">Graphic designer: 2-3yr experience</p>
      <span class="CTA" data-toggle="modal" data-target="#myModal5">Job Description</span>
            <!-- Modal -->
<div id="myModal5" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Graphic designer: 2-3yr experience</h4>
      </div>
      <div class="modal-body">
        <p style="font-size:20px;">
          We are looking for a Visual graphic designer who can help us create branding projects from the ground up, develop campaigns, provide quality art and creative direction, and design apps and websites for other social media platforms and design of major and minor Web applications and components for external users. You will have the freedom to use your experience, leadership traits, and innovative initiatives to complete your daily tasks. Your responsibilities and requirements are listed below, but if you are an empathetic person who believes in creating long-lasting relationships, you have already matched half of our criterions.  <br/>

<b>Key Responsibilities include:</b>

●Development of graphics or media .UI Graphics illustrations and animations. and ensuring the quality levels
 ●Ideate and Create branding projects from the ground up, develop campaigns, provide quality art and creative direction, and design apps, websites, and onsite digital experiences on a regular basis.
●One of the key aspects of your role is a thorough understanding of the right balance between business, design and our customers and serving our brand’s purpose, business missions and customer needs.
●Video and banner creation for website and other social media platforms
●Present the user-interface visually so that information is easy to read, easy to understand and easy to find.
●Prepare work by gathering information and materials.
● Generate clear ideas, concepts and designs of creative assets from beginning to end.
●Work collaboratively with other designers to ensure a consistent, integrated brand perception and user-experience.
● Staying in the loop and on top of the latest standards, changes, trends in visual design field.
●Interpreting storyboards to tell visual stories that support learning.<br/>

<b>Requirements:</b>

●In-depth knowledge of typography, iconography, color, space, and texture.
● Hands on experience on Adobe Photoshop, after effects, premiere pro, illustrator etc
● The ability to refine other people’s ideas and come up with new ones to create a highly designed visual experience.
● Well organized, responsible and dedicated, with the ability to work on multiple projects and deliver refined design in a short time.
● Self-learning, able to learn new tools quickly and work in a fast evolving environment.
●Proven ability delivering high quality designs to stakeholders.<br/>

<b>Skills:</b>

Web Design
Web Graphics
Graphic Design
Banner Design
Online Advertising
Adobe Photoshop
Adobe Illustrator
3D graphics

Add On:
Web App design(UI/ux)  <br/>

<b>Qualification and Experience:</b>

●       2+ years of experience in relevant field
●       Bachelor’s degree, or equivalent experience in the graphic design field.

</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>
    </a>
  </div>
</div>
<div class="col-md-9">
  <!--  <div class="item-title-new">
    Share CV on:<br/>
    hr@feederfox.com
  </div> -->
  <h4 style="margin-top: 31px;font-weight: bold;font-size: 40px;">Contact Us</h4>
  <form action="" class="contact-form" method="post">
            {% csrf_token %}

             <div class="form-group" id="div_id_Name">
              <input type="text" class="form-control" id="id_Name" name="Name" placeholder="Name" required="" >
            </div>

            <div class="form-group form_left" id="div_id_Email">
              <input type="email" class="form-control" id="id_Email" name="Email" placeholder="Email" required="">
            </div>

          <div class="form-group" id="div_id_Mobile">
               <input type="text" class="form-control" id="id_Mobile" name="Mobile" onkeypress="return event.charCode >= 48 && event.charCode <= 57" maxlength="10" placeholder="Mobile No." required="">
          </div>
          <div class="form-group" id="div_id_Feedback">
          <textarea class="form-control textarea-contact" rows="5" id="id_Feedback" name="Feedback" placeholder="Type Your Message/Feedback here..." required=""></textarea>             <h4> Share CV on:
    hr@feederfox.com</h4>
          </div>
            <button class="btn btn-default btn-send" type="submit"> <span class="glyphicon glyphicon-send"></span> Send </button>
          </div>
        </form>
</div>

</div>
</div>




</div>

<br/><br/>

  <script type="text/javascript">
    $('.white-card').mouseenter(function(){
  $('.orange-border').removeClass('shrink');
  $('.orange-border').addClass('grow');
  $('.CTA').addClass('a22');
});

$('.white-card').mouseleave(function(){
  $('.orange-border').removeClass('grow');
  $('.orange-border').addClass('shrink');
  $('.CTA').removeClass('a22');
});

  </script>
   {% include 'footer.html' %}
{% endblock %}
</body>
</html>