{% extends 'base.html' %} <!-- Add this for inheritance -->
{%  load static %}
{% load crispy_forms_tags %}

<body>
{% block pagecontent %}

         <div class="bg-footer">
          <!-- footer -->
          <div class="footer">
            <div class="container">
              <div class="row ">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12" style="margin-top:-47px;">
                  <div class="ft-logo"><img src="{% static 'dist/images/only_logo.png' %}" alt="" style="width:136px;height:87px;"></div>
                </div>
              </div>
              <hr class="footer-line">
              <div class="row" style="margin-top:-20px;">
                <!-- footer-about -->
                <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 col-6 ">
                  <div class="footer-widget">
                    <div class="footer-title">Company</div>
                    <ul class="list-unstyled">
                      <li><a href="{% url 'about' %}" class="footer_links" target="_blank">About</a></li>
                      <li><a href="#" class="footer_links">Careers</a></li>
                      <li><a href="{% url 'privacy' %}" class="footer_links" target="_blank">Legal & Privacy</a></li>
                    </ul>
                  </div>
                </div>
                <!-- /.footer-about -->
                <!-- footer-links -->
                <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 col-6 ">
                  <div class="footer-widget ">
                    <div class="footer-title">Quick Links</div>
                    <ul class="list-unstyled">
                      <li><a href="#" class="footer_links">News</a></li>
                      <li><a href="{% url 'contact' %}" class="footer_links" target="_blank">Contact us</a></li>
                      <li><a href="{% url 'faq' %}" class="footer_links" target="_blank">FAQ</a></li>
                    </ul>
                  </div>
                </div>
                <!-- /.footer-links -->
                <!-- footer-links -->
                <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 col-6 ">
                  <div class="footer-widget ">
                    <div class="footer-title">Social</div>
                    <ul class="list-unstyled">
                      <li><a href=" https://twitter.com/FeederfoxMedia" class="footer_links">Twitter</a></li>
                      <li><a href="https://plus.google.com/u/0/101427838675064638174" class="footer_links">Google +</a></li>
                      <li><a href="https://www.instagram.com/feederfoxmedia/" class="footer_links">Instagram</a></li>
                      <li><a href="https://www.facebook.com/FeederFoxMedia/" class="footer_links">Facebook</a></li>
                    </ul>
                  </div>
                </div>
                <!-- /.footer-links -->
                <!-- footer-links -->
                <div class="col-xl-3 col-lg-3 col-md-12 col-sm-6 col-6 ">
                  <div class="footer-widget " style="margin-top: -17px;">
                    <h3 class="footer-title">Subscribe Newsletter</h3>
                    <form>
                      <div class="newsletter-form">
                        <input class="form-control" placeholder="Enter Your Email address" type="text">
                        <button class="btn btn-sm btn-footer" type="submit">Go</button>
                      </div>
                    </form>
                  </div>
                </div>
                <!-- /.footer-links -->
                <!-- tiny-footer -->
              </div>
              <div class="row ">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 text-center ">
                  <div class="tiny-footer">
                    <p class="footer_para">Copyright © All Rights Reserved 2018 | Design & Development by <a href="# " class="copyrightlink">Feederfox</a></p>
                  </div>
                </div>
                <!-- /. tiny-footer -->
              </div>
            </div>
          </div>
          <!-- /.footer -->
        </div>
{% endblock %}
</body>
</html>