{% extends 'base.html' %} <!-- Add this for inheritance -->
{% load static %}
{% load ratings %}

<!doctype html>
<html>
<head>
  <link rel="stylesheet" href="{% static 'star-ratings/css/star-ratings.css' %}">
<script type="text/javascript" src="{% static 'star-ratings/js/dist/star-ratings.min.js' %}"></script>
</head>

{% block pagecontent %} 

<body>
 <!--header starts here -->
 <header class="header-two-bars">
   <div class="header-first-bar">
    <div id="weather-frame" class="container">
     <div id="upper-detail">
      <div id="city-name"></div>
    </div>
    <div id="lower-detail">
      <div class="row">
       <div id="temp" class="col-xs-6">
       </div>
     </div>
   </div>
 </div>
 <div class="header-limiter">
   <h1><a href="{% url 'home' %} "><img src="{% static 'dist/images/logos/logo.png' %}" class="img-responsive header_img"></a></h1>
   <nav style="margin-top:10px;margin-left:650px;">
    <a href="{% url 'publisherpage' %}">Publisher</a>
    <a href="{% url 'customerpage' %}">Customer</a>
    <a href="{% url 'advertiserpage' %}">Advertiser</a>
  </nav>
  <a href="{% url 'accounts:login' %}" class="logout-button" style="margin-top:10px;">Login</a>
</div>
</div>
</header>
<!-- header ends here -->
<br>

<h1 class="text-center text-primary">{{ name }} </h1>
<div class="container">
 <div class="row">
  <div class="col-md-6">
    <img class="center-block img-responsive" src="{{ image.url }}" style="width:100%;height:300px;">
  </div>
  <div class="col-md-6">
    <p class="politcs-desc"><strong>Name</strong>: {{ name }} </p>
    <p class="politcs-desc"><strong>Projects Taken</strong>: </p>
    <p class="politcs-desc"><strong>Education Qualification</strong>:{{ Educational_Qualification }} </p>
    <p class="politcs-desc"><strong>Family History</strong>: {{ Family_History }}</p>
  </div>
</div>
</div>
<br>
<div class="container">
  <div class="row">
    <div class="col-md-12">
       <h3><strong>Overview of {{ name }} </strong></h3>
      <p class="politcs-desc-modal">{{ synopsis }} </p>
    </div>
  </div>
</div>
  <br>
  <div class="container">
   <div class="row">
    <div class="col-md-6">
     <iframe width="1220" height="400" src="{{ video_link }}" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
   </div>
 </div>
</div>
<br>

<br>
<div id="services" class="gray-bg">
  <section class="container section ft-cards-2">
    <header class="sec-heading">
      <h2>{{ name }} Articles</h2>
    </header>
    {% for p in polart %}
    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12 col-lg-12">
        <div class="ft-card-item wow fadeInUp" data-wow-duration="1.2s">
          <img src="{{ p.Image.url }} " alt="Travel Portal Development" height="255">
          <div class="ft-content">
            <h5><strong>{{ p.Title }} </strong></h5>
            <p class="politcs-desc">{{ p.Description }}</p>
          </div>
        </div>
      </div>
    </div>
    {% endfor %}
  </section>
</div>
<br>


<div class="container">
  <div class="row">
   <div class="col-md-12">
    <p class="politcs-ques"><strong>Survey of {{ name }} </strong></p>
    <a target="_blank" href="{% url 'content:politicalsurvey' poll.id %}"><button class="btn btn-default" style="background-color: #8E5959;">Take Survey</button></a>
  </div>
  </div>
<br>

<div class="row">
  <div class="col-md-6">
      <div style="margin-left: 10px" id="chart-1">{{ output|safe }}</div>
  </div>
  <div class="col-md-6">
     <div style="" id="chart-2">{{ out|safe }}</div>
  </div>
</div>
<br><br>
</div>
<br><br><br>

<div class="container">
 <div class="row">
    <div class="col-sm-3">
      <div class="rating-block">
        <h4>Average user rating</h4>
        <h2 class="bold padding-bottom-7">{{ avg_rating|floatformat:2 }} <small>/ 5</small></h2>
        {% if avg_rating >= 4.5 %}
        <img src="{% static 'dist/images/stars/5-star.png' %}">
        {% elif avg_rating >= 3.5 and avg_rating < 4.5 %}
        <img src="{% static 'dist/images/stars/4-star.png' %}">
        {% elif avg_rating >= 2.5 and avg_rating < 3.5 %}
        <img src="{% static 'dist/images/stars/3-star.png' %}">
        {% elif avg_rating >= 1.5 and avg_rating < 2.5 %}
        <img src="{% static 'dist/images/stars/2-star.png' %}">
        {% elif avg_rating < 1.5 %}
        <img src="{% static 'dist/images/stars/1-star.png' %}">
        {% endif %}
        </div>
    </div>
    <div class="col-sm-3">
      <h4>Rating breakdown</h4>
      <div class="pull-left">
        <div class="pull-left" style="width:35px; line-height:1;">
          <div style="height:9px; margin:5px 0;">5 <span class="glyphicon glyphicon-star"></span></div>
        </div>
        <div class="pull-left" style="width:180px;">
          <div class="progress" style="height:9px; margin:8px 0;">
            <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="5" aria-valuemin="0" aria-valuemax="5" style="width: 1000%">
              <span class="sr-only">80% Complete (danger)</span>
            </div>
          </div>
        </div>
        <div class="pull-right" style="margin-left:10px;">{{ rc_5 }}</div>
      </div>
      <div class="pull-left">
        <div class="pull-left" style="width:35px; line-height:1;">
          <div style="height:9px; margin:5px 0;">4 <span class="glyphicon glyphicon-star"></span></div>
        </div>
        <div class="pull-left" style="width:180px;">
          <div class="progress" style="height:9px; margin:8px 0;">
            <div class="progress-bar progress-bar-primary" role="progressbar" aria-valuenow="4" aria-valuemin="0" aria-valuemax="5" style="width: 80%">
              <span class="sr-only">80% Complete (danger)</span>
            </div>
          </div>
        </div>
        <div class="pull-right" style="margin-left:10px;">{{ rc_4 }} </div>
      </div>
      <div class="pull-left">
        <div class="pull-left" style="width:35px; line-height:1;">
          <div style="height:9px; margin:5px 0;">3 <span class="glyphicon glyphicon-star"></span></div>
        </div>
        <div class="pull-left" style="width:180px;">
          <div class="progress" style="height:9px; margin:8px 0;">
            <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="3" aria-valuemin="0" aria-valuemax="5" style="width: 60%">
              <span class="sr-only">80% Complete (danger)</span>
            </div>
          </div>
        </div>
        <div class="pull-right" style="margin-left:10px;">{{ rc_3 }} </div>
      </div>
      <div class="pull-left">
        <div class="pull-left" style="width:35px; line-height:1;">
          <div style="height:9px; margin:5px 0;">2 <span class="glyphicon glyphicon-star"></span></div>
        </div>
        <div class="pull-left" style="width:180px;">
          <div class="progress" style="height:9px; margin:8px 0;">
            <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="2" aria-valuemin="0" aria-valuemax="5" style="width: 40%">
              <span class="sr-only">80% Complete (danger)</span>
            </div>
          </div>
        </div>
        <div class="pull-right" style="margin-left:10px;">{{ rc_2 }} </div>
      </div>
      <div class="pull-left">
        <div class="pull-left" style="width:35px; line-height:1;">
          <div style="height:9px; margin:5px 0;">1 <span class="glyphicon glyphicon-star"></span></div>
        </div>
        <div class="pull-left" style="width:180px;">
          <div class="progress" style="height:9px; margin:8px 0;">
            <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="1" aria-valuemin="0" aria-valuemax="5" style="width: 20%">
              <span class="sr-only">80% Complete (danger)</span>
            </div>
          </div>
        </div>
        <div class="pull-right" style="margin-left:10px;">{{ rc_1 }} </div>
      </div>
    </div>
  </div>
<br><br>
  <div class="row" style="text-align: center;">
    <a href="{% url 'content:politicalcomment' political.id %} "><button class="btn btn-danger">Write Review</button></a>
    

  </div>
  <div class="row">
    
    <div class="col-sm-7">
      <hr/>
      <div class="review-block">
        {% for comment in polcomment %}
        <div class="row">
          <div class="col-sm-3">
            {% if comment.image %}
            <img src="{{ comment.image.url}}" style="height: 150px;width: 150px;" class="img-rounded">
            {% else %}
            <img src="http://dummyimage.com/60x60/666/ffffff&text=No+Image" class="img-rounded">
            {% endif %}
            <div class="review-block-name"><a href="#">{{ comment.user }} </a></div>
            <div class="review-block-date">{{ comment.uploaded_on }} <br/></div>
          </div>
          <div class="col-sm-9">
            <h4>Rating given by {{ comment.user }} to {{ comment.name }} is</h4>
              {% if comment.ratings == '5' %}
              <img src="{% static 'dist/images/stars/5-star.png' %} ">
              {% elif comment.ratings == '4' %}
              <img src="{% static 'dist/images/stars/4-star.png' %} ">
              {% elif comment.ratings == '3' %}
              <img src="{% static 'dist/images/stars/3-star.png' %} ">
              {% elif comment.ratings == '2' %}
              <img src="{% static 'dist/images/stars/2-star.png' %} ">
              {% elif comment.ratings == '1' %}
              <img src="{% static 'dist/images/stars/1-star.png' %} ">
              {% endif %}
            <br><br>
            <div class="review-block-title"><b>{{ comment.comment_title }}</b> </div>
            <br>
            <div class="review-block-description">{{ comment.comment }} </div>
          </div>
        </div>
        <hr>
        {% endfor %}
      </div>
    </div>
  </div>
</div> <!-- /container -->



<div class="bg-footer">
 <!-- footer -->
 <div class="footer">
  <div class="container">
   <div class="row ">
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12" style="margin-top:-47px;">
     <div class="ft-logo"><img src="{% static 'dist/images/only_logo.png' %}" alt="" style="width:136px;height:87px;"></div>
   </div>
 </div>
 <hr class="footer-line">
 <div class="row" style="margin-top:-20px;">
  <!-- footer-about -->
  <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 col-6 ">
   <div class="footer-widget">
    <div class="footer-title">Company</div>
    <ul class="list-unstyled">
     <li><a href="{% url 'about' %}" class="footer_links" target="_blank">About</a></li>
     <li><a href="#" class="footer_links">Careers</a></li>
     <li><a href="{% url 'privacy' %}" class="footer_links" target="_blank">Legal & Privacy</a></li>
   </ul>
 </div>
</div>
<!-- /.footer-about -->
<!-- footer-links -->
<div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 col-6 ">
 <div class="footer-widget ">
  <div class="footer-title">Quick Links</div>
  <ul class="list-unstyled">
   <li><a href="#" class="footer_links">News</a></li>
   <li><a href="{% url 'contact' %}" class="footer_links" target="_blank">Contact us</a></li>
   <li><a href="{% url 'faq' %}" class="footer_links" target="_blank">FAQ</a></li>
 </ul>
</div>
</div>
<!-- /.footer-links -->
<!-- footer-links -->
<div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 col-6 ">
 <div class="footer-widget ">
  <div class="footer-title">Social</div>
  <ul class="list-unstyled">
   <li><a href=" https://twitter.com/FeederfoxMedia" class="footer_links">Twitter</a></li>
   <li><a href="https://plus.google.com/u/0/101427838675064638174" class="footer_links">Google +</a></li>
   <li><a href="https://www.instagram.com/feederfoxmedia/" class="footer_links">Instagram</a></li>
   <li><a href="https://www.facebook.com/FeederFoxMedia/" class="footer_links">Facebook</a></li>
 </ul>
</div>
</div>
<!-- /.footer-links -->
<!-- footer-links -->
<div class="col-xl-3 col-lg-3 col-md-12 col-sm-6 col-6 ">
 <div class="footer-widget ">
  <h3 class="footer-title">Subscribe Newsletter</h3>
  <form>
   <div class="newsletter-form">
    <input class="form-control" placeholder="Enter Your Email address" type="text">
    <button class="btn btn-sm btn-footer" type="submit" style="margin-top:12px;">Go</button>
  </div>
</form>
</div>
</div>
<!-- /.footer-links -->
<!-- tiny-footer -->
</div>
<div class="row ">
  <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 text-center ">
   <div class="tiny-footer">
    <p class="footer_para">Copyright © All Rights Reserved 2018 | Design & Development by <a href="# " class="copyrightlink">Feederfox</a></p>
  </div>
</div>
<!-- /. tiny-footer -->
</div>
</div>
</div>
<!-- /.footer -->
<script type="text/javascript">
    $(document).ready(function(){
        $('#survey').click(function(){
          alert('hiii');
            $("#survey-btn").fadeIn(2000);
            $('#survey-btn').fadeOut(2000)
        });
    });
</script>
{% endblock %}
</body>

</html>