{#<!-- home/templates/about.html -->#}
{#<!DOCTYPE html>#}
{#<html>#}
{#    <head>#}
{#        <meta charset="utf-8">#}
{#        <title>Howdy!</title>#}
{#    </head>#}
{#    <body>#}
{#        <h1>Welcome to the about page</h1>#}
{#    <p>#}
{#    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc quis neque ex. Donec feugiat egestas dictum. In eget erat sit amet elit pellentesque convallis nec vitae turpis. Vivamus et molestie nisl. Aenean non suscipit velit. Nunc eleifend convallis consectetur. Phasellus ornare dolor eu mi vestibulum, ornare tempus lacus imperdiet. Interdum et malesuada fames ac ante ipsum primis in faucibus. Pellentesque ut sem ligula. Mauris volutpat vestibulum dui in cursus. Donec aliquam orci pellentesque, interdum neque sit amet, vulputate purus. Quisque volutpat cursus nisl, in volutpat velit lacinia id. Maecenas id felis diam.#}
{#    </p>#}
{#    <a href="/">Go back home</a>#}
{#    </body>#}
{#</html>#}



<!-- feederfoxnew/home/templates/publishersignup.html-->
{% extends 'base.html' %} <!-- Add this for inheritance -->
{%  load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}About Us {% endblock %}</title>
</head>
<body>
{% block pagecontent %}
 <!--header starts here -->
<div class="bg-header">
  <div class="container">
   <div class="row">
       <div class="col-md-6">
        <div id="weather-frame" class="container">
          <div id="upper-detail">
            <div id="city-name"></div>
          </div>
          <div id="lower-detail">
            <div class="row">
              <div id="temp" class="col-xs-6">
              </div>
            </div>
          </div>
        </div>
        <img src="{% static 'dist/images/logos/logo.png' %}" class="img-responsive header_img">
      </div>
      <div class="col-md-2" >
        <div class="dropdown drop1">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user"></i> Publisher
            <span class="caret"></span></a>
            <ul class="dropdown-menu d1">
              <li><a target="_blank" href="{% url 'publisher_signup' %}">Sign Up</a></li>
              <li><a href="#">Login</a></li>
            </ul>
          </div>
        </div>
        <div class="col-md-2">
         <div class="dropdown drop1">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user"></i> Customer
            <span class="caret"></span></a>
            <ul class="dropdown-menu d1">
              <li><a href="#">Sign Up</a></li>
              <li><a href="#">Login</a></li>
            </ul>
          </div>
        </div>
        <div class="col-md-2">
         <div class="dropdown drop1">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user"></i> Advertiser
            <span class="caret"></span></a>
            <ul class="dropdown-menu d1">
              <li><a href="#">Sign Up</a></li>
              <li><a href="#">Login</a></li>
            </ul>
          </div>
        </div>
      </div>
</div>
</div>
 <!-- header ends here -->

<!-- bse scrolling bar starts here -->
<div class="runtext-container">
<div class="main-runtext">
<marquee direction="" onmouseover="this.stop();" onmouseout="this.start();">

<div class="holder">

     <div class="text-container">
   &nbsp; &nbsp; <img src=""> &nbsp; <a data-fancybox-group="gallery" class="fancybox" title="Feederfox">BSE updates coming soon!!! Please come back again for live updates!! </a>
    </div>

     <div class="text-container">
   &nbsp; &nbsp; <img src=""> &nbsp; <a data-fancybox-group="gallery" class="fancybox"  title="Feederfox">BSE updates coming soon!!! Please come back again for live updates!! </a>
    </div>

     <div class="text-container">
   &nbsp; &nbsp; <img src=""> &nbsp; <a data-fancybox-group="gallery" class="fancybox"  title="Feederfox">BSE updates coming soon!!! Please come back again for live updates!! </a>
    </div>

     <div class="text-container">
   &nbsp; &nbsp; <img src=""> &nbsp; <a data-fancybox-group="gallery" class="fancybox" title="Feederfox">BSE updates coming soon!!! Please come back again for live updates!! </a>
    </div>

     <div class="text-container">
   &nbsp; &nbsp; <img src=""> &nbsp; <a data-fancybox-group="gallery" class="fancybox"  title="Feederfox">BSE updates coming soon!!! Please come back again for live updates!! </a>
    </div>

     <div class="text-container">
   &nbsp; &nbsp; <img src=""> &nbsp; <a data-fancybox-group="gallery" class="fancybox"  title="Feederfox">BSE updates coming soon!!! Please come back again for live updates!! </a>
    </div>

     <div class="text-container">
   &nbsp; &nbsp; <img src=""> &nbsp; <a data-fancybox-group="gallery" class="fancybox"  title="Feederfox">BSE updates coming soon!!! Please come back again for live updates!! </a>
    </div>

     <div class="text-container">
   &nbsp; &nbsp; <img src=""> &nbsp; <a data-fancybox-group="gallery" class="fancybox" title="Feederfox">BSE updates coming soon!!! Please come back again for live updates!! </a>
    </div>

</div>

</marquee>
</div>
</div>
 <!-- bse scrolling bar ends here -->

 <!-- navigation bar -->
 <nav class="navbar navbar-default w3_megamenu" role="navigation">
  <div class="navbar-header">
    <button type="button" data-toggle="collapse" data-target="#defaultmenu" class="navbar-toggle"><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button><a href="#" class="navbar-brand"><i class="fa fa-home"></i></a>
  </div><!-- end navbar-header -->

  <div id="defaultmenu" class="navbar-collapse collapse">
    <ul class="nav navbar-nav">
     <li class="dropdown"><a href="#" data-toggle="dropdown" class="dropdown-toggle">Home <b class="caret"></b></a>
        <ul class="dropdown-menu" role="menu">

          <li><a href="">NewsChannels</a></li>
          <li><a href="">Newspapers</a></li>
          <li><a href="">Magazines</a></li>
          <li><a href="">Social Channels</a></li>
        </ul>
      </li>
      <!-- Mega Menu -->
        <li class="dropdown w3_megamenu-fw"><a href="#" data-toggle="dropdown" class="dropdown-toggle">Political Forum<b class="caret"></b></a>
          <ul class="dropdown-menu fullwidth">
            <li class="w3_megamenu-content withdesc">
              <div class="row">
                <div class="col-sm-6">
                  <ul>
                    <li><a data-description="" href="">
                      <div class="card elevation-2dp box">
                          <div class="row">
                          <div class="col-md-5"></div>
                          <div class="col-md-3">
                          <img src="{% static 'dist/images/modi.jpg' %}" alt="" style="margin-left:-8px;height:130px;">
                        </div>
                        </div>


                        <div class="supporting-text">
                          <p> Narendra Damodardas Modi (Gujarati: [ˈnəɾeːnd̪rə d̪aːmoːd̪əɾˈd̪aːs ˈmoːd̪iː] (About this sound listen); born 17 September 1950) is an Indian politician serving as the 14th and current Prime Minister of India since 2014. He was the Chief Minister of Gujarat from 2001 to 2014, and is the Member of Parliament for Varanasi. Modi, a member of the Bharatiya Janata Party (BJP), is a Hindu nationalist and member of the right-wing Rashtriya Swayamsevak Sangh (RSS).</p>
                        </div>
                      </div>
                    </a></li>
                  </ul>
                </div>
                <div class="col-sm-6">
                  <ul>
                   <li><a data-description="" href="">
                       <div class="card elevation-2dp box">
                        <div class="row">
                          <div class="col-md-5"></div>
                          <div class="col-md-3">
                          <img src="{% static 'dist/images/rahul_gandhi.jpg' %}" alt="" style="margin-left:-8px;height:130px;">
                        </div>
                        </div>
                        <div class="supporting-text">
                          <p> Rahul Gandhi About this sound pronunciation (help·info) [ˈraːɦʊl ˈɡaːnd̪ʱiː] (born 19 June 1970) is an Indian politician. The son of Sonia and Rajiv Gandhi, he is the President of the Indian National Congress and serves such additional offices as the Chairperson of the Indian Youth Congress and the National Students Union of India.</p>
                        </div>
                      </div>
                    </a></li>
                  </ul>
                </div>
              </div>
            </li>
            <li class="w3_megamenu-content withdesc">
              <div class="row">
                <div class="col-sm-6" style="margin-top:-50px;">
                  <ul>
                    <li><a data-description="" href="">
                      <div class="card elevation-2dp box">
                        <div class="row">
                          <div class="col-md-5"></div>
                          <div class="col-md-3">
                          <img src="{% static 'dist/images/kumarswamy.jpg' %}" alt="" style="margin-left:-8px;height:130px;">
                        </div>
                        </div>
                        <div class="supporting-text">
                          <p> Haradanahalli Devegowda Kumaraswamy (born 16 December 1959)[4] is an Indian politician and current Chief Minister of Karnataka. He is the President of Karnataka State Janata Dal (Secular) and son of former Prime Minister of India H. D. Deve Gowda.[5] During his 2006 cheif ministerial period Karnataka state recorded all time high GDP growth and he was called people's CM</p>
                        </div>
                      </div>
                    </a></li>
                  </ul>
                </div>

                <div class="col-sm-6" style="margin-top:-50px;">
                  <ul>
                   <li><a data-description="" href="">
                       <div class="card elevation-2dp box">
                        <div class="row">
                          <div class="col-md-5"></div>
                          <div class="col-md-3">
                          <img src="{% static 'dist/images/Nitish_Kumar2.jpg' %}" alt="" style="margin-left:-8px;height:130px;">
                        </div>
                        </div>
                        <div class="supporting-text">
                          <p> The Chief Minister of Bihar is the chief executive of the Indian state of Bihar. As per the Constitution of India, the Governor of Bihar is the state's de jure head, but de facto executive authority rests with the chief minister. </p>
                        </div>
                      </div>
                    </a></li>
                  </ul>
                </div>
              </div>
            </li>
          </ul>
        </li>
        <li class="dropdown"><a href="#" data-toggle="dropdown" class="dropdown-toggle">NewsFeeds <b class="caret"></b></a>
        <ul class="dropdown-menu" role="menu">

          <li><a href="">Headlines/Breaking News</a></li>
          <li><a href="">Educational</a></li>
          <li><a href="">Entertainment</a></li>
          <li><a href="">Business</a></li>
          <li><a href="">Sports</a></li>
          <li><a href="">Lifestyle</a></li>
          <li><a href="">Social</a></li>
          <li><a href="">World/International</a></li>
          <li><a href="">Global</a></li>
        </ul>
      </li>
        <li class="dropdown"><a href="#" data-toggle="dropdown" class="dropdown-toggle">Article/Blog <b class="caret"></b></a>
        <ul class="dropdown-menu" role="menu">

          <li><a href="">Business/Economic</a></li>
          <li><a href="">Write Article</a></li>
          <li><a href="">E-books</a></li>
        </ul>
      </li>

      <li class="dropdown"><a href="#" data-toggle="dropdown" class="dropdown-toggle">Business <b class="caret"></b></a>
        <ul class="dropdown-menu" role="menu">

          <li><a href="">Consulting</a></li>
        </ul><!-- end dropdown-menu -->
      </li><!-- end standard drop down -->
      <!-- end dropdown w3_megamenu-fw -->
    </ul><!-- end nav navbar-nav -->
  </div><!-- end #navbar-collapse-1 -->

</nav><!-- end navbar navbar-default w3_megamenu -->

<div class="container">
<div class="row">
    <div class="col-md-12">
      <img src="{% static 'dist/images/ads/fgh.jpg' %}" style="width:100%;">
    </div>
</div>
</div>

    <div class="container">

  <h2 style="color:black">Publisher Registration</h2>
      <br/><br/>
      <form id="regForm" method="post" enctype="multipart/form-data">
        {% csrf_token %}
      {{ form.as_p }}
{#          {{ form.post }}#}
      <button id="sendMessageButton" class="btn btn-primary btn-xl text-uppercase" type="submit">submit</button>
      </form>
      <h2>{{ text }}</h2>
      </div>





<!-- footer -->

<br><br>

 <div class="bg-footer">
    <!-- footer -->
    <div class="footer">
        <div class="container">
            <div class="row ">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12" style="margin-top:-47px;">
                    <div class="ft-logo"><img src="{% static 'dist/images/only_logo.png' %}" alt="" style="width:136px;height:87px;"></div>
                </div>
            </div>
            <hr class="footer-line">
            <div class="row" style="margin-top:-20px;">
                <!-- footer-about -->
                <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 col-6 ">
                    <div class="footer-widget">
                        <div class="footer-title">Company</div>
                        <ul class="list-unstyled">
                            <li><a href="about.html" class="footer_links" target="_blank">About</a></li>
                            <li><a href="#" class="footer_links">Support</a></li>
                            <li><a href="#" class="footer_links">Press</a></li>
                            <li><a href="privacy.html" class="footer_links" target="_blank">Legal & Privacy</a></li>
                        </ul>
                    </div>
                </div>
                <!-- /.footer-about -->
                <!-- footer-links -->
                <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 col-6 ">
                    <div class="footer-widget ">
                        <div class="footer-title">Quick Links</div>
                        <ul class="list-unstyled">
                            <li><a href="#" class="footer_links">News</a></li>
                            <li><a href="#" class="footer_links">Contact us</a></li>
                            <li><a href="faq.html" class="footer_links" target="_blank">FAQ</a></li>
                        </ul>
                    </div>
                </div>
                <!-- /.footer-links -->
                <!-- footer-links -->
                <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 col-6 ">
                    <div class="footer-widget ">
                        <div class="footer-title">Social</div>
                        <ul class="list-unstyled">
                            <li><a href="https://twitter.com/feederfoxmedia?lang=en" class="footer_links">Twitter</a></li>
                            <li><a href="https://www.google.co.in/search?rlz=1C1CHBF_enIN802IN803&biw=1600&bih=794&ei=G3xhW8CWBoKurQG5pbWgBg&q=feederfox+media+bangalore&oq=Feeder+Fox+Media&gs_l=psy-ab.1.0.0i71k1l8.0.0.0.63812.0.0.0.0.0.0.0.0..0.0....0...1c..64.psy-ab..0.0.0....0.18pMIgbxhZI" class="footer_links">Google +</a></li>
                            <li><a href="https://in.linkedin.com/company/feederfox-media" class="footer_links">Linked In</a></li>
                            <li><a href="https://www.facebook.com/FeederFox" class="footer_links">Facebook</a></li>
                        </ul>
                    </div>
                </div>
                <!-- /.footer-links -->
                <!-- footer-links -->
                <div class="col-xl-3 col-lg-3 col-md-12 col-sm-6 col-6 ">
                    <div class="footer-widget ">
                        <h3 class="footer-title">Subscribe Newsletter</h3>
                        <form>
                            <div class="newsletter-form">
                                <input class="form-control" placeholder="Enter Your Email address" type="text">
                                <button class="btn btn-sm btn-footer" type="submit">Go</button>
                            </div>
                        </form>
                    </div>
                </div>
                <!-- /.footer-links -->
                <!-- tiny-footer -->
            </div>
            <div class="row ">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 text-center ">
                    <div class="tiny-footer">
                        <p class="footer_para">Copyright © All Rights Reserved 2020 | Design & Development by <a href="# " class="copyrightlink">Feederfox</a></p>
                    </div>
                </div>
                <!-- /. tiny-footer -->
            </div>
        </div>
    </div>
    <!-- /.footer -->
  </div>

{% endblock %}
</body>
</html>