
{% extends 'base.html' %} <!-- Add this for inheritance -->
{%  load static %}
{% load crispy_forms_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Publisher Dashboard {% endblock %}</title>
</head>
<body>
{% block pagecontent %}
 <!--header starts here -->
{% include 'header3.html' %}


<div class="container">
</div>

<div class="container">
  <div class="row">
<div class="col-md-2">
<div id="menu" style="margin-left:-40px;margin-top:14px;">
    <ul class="topUl">
    <li class="ddList">
        <a href="#" title="Home">Home</a>
    </li>
     <li class="ddList">
        <a href="#" title="">My Profile</a>
        <ul>
        <li class="ddList2">
                <a href="{% url 'content:my_papers' %} " title="">My Papers</a>
            </li>
        <li class="ddList2">
                <a href="{% url 'content:my_magazines' %}" title="">My Magazines</a>
            </li>
        <li class="ddList2">
                <a href="{% url 'content:add' %}" title="">Add New</a>
            </li>
        <li class="ddList2">
                <a href="#" title="">Contact Details</a>
            </li>
        <li class="ddList2">
                <a href="#" title="">Uploader Details</a>
            </li>
          </ul>
    </li>
    <li class="ddList">
        <a href="#" title="reset_pswd">Reset Password</a>
    </li>
    <li class="ddList">
        <a href="#" title="">Upload</a>
        <ul>
            <li class="ddList2">
                <a href="{% url 'accounts:post' %}" title="SubLink2-1">Upload News Paper</a>
            </li>
            <li class="ddList2">
                <a href="{% url 'accounts:upload_magazine' %}" title="SubLink2-1">Upload Magazine</a>
            </li>
            <li class="ddList2">
                <a href="{% url 'accounts:view_post' %}" title="SubLink2-2">View Post</a>
            </li>
        </ul>
    </li>
    <li class="ddList">
        <a href=" {% url 'accounts:logout' %} " > Logout </a>
    </li>
</ul>
</div>
</div>
<div class="col-md-9">
  <h3>Profile List</h3>
</div>
</div>
</div>


<!-- footer -->

<br><br>

 {% include 'footer.html' %}

{% endblock %}
</body>
</html>