{% extends 'base.html' %} <!-- Add this for inheritance -->
{% load static %}
<!doctype html>
<html>
<head>
  <head>
</head>
</head>

  {% block pagecontent %}

  <body style="background-image: url({% static 'dist/images/new-images/1.jpg' %} )";>
    <br><br>

<div class="conatiner">
  <div class="row">
    <div
<div id="box1" class="box blurred-bg tinted" style="height:500px;width:900px;margin-left:-204px;">
  <div class="content">
    <h1 style="text-align: center;color:#561704;">FeederFox Publisher Registration</h1>
    <br>
    <h1 class="pub-page-heading">Are You A Publisher ?</h1>
      <!-- <h2>By <a href="http://ariona.net" rel="follow" target="_blank">Ariona, Rian</a></h2> -->
      <p class="pub-page-content">Do you have your own brand of Magazines,E-books,Newspapers,Newschannels?</p>
      <p class="pub-page-content">FeederFox is a best platform</p>
      <p class="pub-page-content">Fill in the basic details like name of the paper, language, logo, edition. </p>
    <!-- <p class="related">See also: <a href="https://codepen.io/ariona/details/LVZLGP/" target="_blank">Staged Dropdown Animation</a></p>  -->
    <a href="{% url 'accounts:pubsignup' %}" class="action-button shadow animate red" style="margin-left:129px;">Sign Up</a>
    <a href="{% url 'accounts:login' %}" class="action-button shadow animate red">Login</a>
  </div>
</div>
</div>


    <!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script type="text/javascript">
      $(function() {
  $( ".box" ).draggable();
});
    </script>
 {% endblock %}
  </body>

</html>
