<!-- feederfoxnew/home/templates/publishersignup.html-->
{% extends 'base.html' %} <!-- Add this for inheritance -->
{%  load static %}
<!DOCTYPE html>
<html lang="en">
<head>
</head>
{% block pagecontent %}
 <!--header starts here -->
 {% include 'header1.html' %}
<body style="background-color:#f2f3f5;">


<br><br>

<!-- Login section starts  here -->
<div class="container">

  <section class="login-block">
    <div class="login-container">
      <div class="row">
        <div class="col-md-5 login-sec">
          <h2 class="text-center">Login Now</h2>
          
             <br><br>
             <p style="FONT-SIZE:25px; COLOR:black; LINE-HEIGHT:30px;">
                  {% if messages %}
                                    <ul class="messages">
                                        {% for message in messages %}
                                        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                                        {% endfor %}
                                    </ul>
                                    {% endif %}
          <form class="login-form login" method="POST" action="">
              {% csrf_token %}
              <input type="hidden" name="next" value="{{ next }}">
            <div class="form-group" id="div_id_username">
              <label for="id_username" class="text-uppercase">Username</label>
              <input type="text" class="form-control" name="username" placeholder="" id="id_username">
            </div>
            <div class="form-group" id="div_id_password">
              <label for="id_password" class="text-uppercase">Password</label>
              <input type="password" class="form-control" name="password" placeholder="">
            </div>


            <div class="form-check">
              <button type="submit" class="btn btn-login">Submit</button>
              <a class="button secondaryAction" href=" {% url 'account_reset_password' %} "> Forgot Password</a>
            </div>
            <br><br>
            <a href="{% url 'social:begin' 'facebook' %}" class="fa fa-facebook fb-login"> Facebook</a>
            <a href="/oauth/login/google-oauth2/" class="fa fa-google google-login"> Google</a>
            <a href="/oauth/login/github/" class="fa fa-github github-login"> Github</a>
          </form>
        </div>
        <div class="col-md-7">
        <img class="img-responsive" src="{% static 'dist/images/new-images/login.jpg' %}" alt="First slide">
      </div>
    </div>
  </section>
</div>
<!-- Login section  ends here -->



{% include 'footer.html' %}
{% endblock %}
</body>
</html>
