{% extends 'base.html' %} <!-- Add this for inheritance -->
{% load static %}
{% load crispy_forms_tags %}
<!doctype html>
<html>
<head>
  <head>

    <title>
       {% block title %}FeederFox{% endblock %}
    </title>


</head>
</head>
<body>
{% block pagecontent %}
  <!--header starts here -->
{% include 'header2.html' %}

<br><br>
<div class="container">
  <section class="login-block">
    <div class="login-container">
      <div class="row">
        <div class="col-md-5 login-sec">

          <h2 class="text-center">Signup Now</h2>
          <form class="login-form" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="form-group" id="div_id_username">
              <label for="id_username" class="text-uppercase">Username</label>
              <input type="text" id="id_username" name="username" class="form-control" placeholder="">

            </div>
            <div class="form-group" id="div_id_email">
              <label for="id_email" class="text-uppercase">Email</label>
              <input type="text" id="id_email" name="email" class="form-control" placeholder="">
            </div>
            <div class="form-group" id="div_id_Mobile">
              <label for="id_Mobile" class="text-uppercase">Mobile</label>
              <input type="number" id="Mobile" name="Mobile" class="form-control" placeholder="">
            </div>
            <div class="form-group" id="div_id_Profile_Picture">
              <label for="id_Profile_Picture" class="text-uppercase">Profile Picture</label>
              <input type="file" id="Profile_Picture" name="Profile_Picture" class="form-control" placeholder="">
            </div>
            <div class="form-group" id="div_id_password1">
              <label for="id_password1" class="text-uppercase">Password</label>
              <input type="password" id="id_password1" name="password1" class="form-control" placeholder="">
            </div>
            <div class="form-group" id="div_id_password2">
              <label for="id_password2" class="text-uppercase">Confirm Password</label>
              <input type="password" id="id_password2" name="password2" class="form-control" placeholder="">
            </div>

            <div class="form-check">
              <button type="submit" class="btn btn-login">Submit</button>
            </div>
            <h3 style="FONT-SIZE:25px; COLOR:#000000; LINE-HEIGHT:30px;"> If you already have Account Please <a href=" {% url 'accounts:login' %} ">Login</a>  </h3>
          </form>
        </div>
        <div class="col-md-7">
        <img class="img-responsive" src="{% static 'dist/images/new-images/logout.jpg' %}" alt="First slide">
      </div>
    </div>
  </section>
</div>
<!-- footer -->

<br><br>
       {% include 'footer.html' %}


        <!-- ebooks js -->
        <script type="text/javascript">
          (function ($) {
            "use strict";

            window.coverBrowser = window.coverBrowser || {};

            var self = window.coverBrowser;

            self.utils = (function () {

              var getDir = function (of) {

                var id = of,
                start = id.indexOf("cbcontrol") + 10,
                dir = id.substring(start, id.length);

                return dir;

              };

              return {
                getDir: getDir
              };

            })();

            self.state = (function () {

              var classes = [],
              activeIndex = 0,
              stageDim = {},
              coverDim = {};

              return {
                classes: classes,
                activeIndex: activeIndex
              };

            })();

            self.actions = (function () {

              var doMove = function () {

                var activeIndex = self.state.activeIndex,
                $covers = $(".cbImage"),
                newActive, oldActive = $(".cbImage .active");

                $covers.each(function (i, e) {

                  if (i < activeIndex) {

                    this.className = "cbImage inactiveLeft inactiveLeft" + (activeIndex - i);
                    this.style.zIndex = ((activeIndex + i) * 1);

                  }
                  else if (i === activeIndex) {
                    this.className = "cbImage active";
                    newActive = this;
                  }
                  else if (i > activeIndex) {

                    this.className = "cbImage inactiveRight inactiveRight" + ((activeIndex - i) * -1);
                    this.style.zIndex = ((activeIndex - i) * 1);

                  }

                });

                $(document).trigger("endmove.cvr", [{ "newActive": newActive, "oldActive": oldActive }]);

              },

              moveRight = function () {

                if ($(document).trigger("startmoveright") !== false) {

                  self.state.activeIndex = self.state.activeIndex - 1;

                  doMove();

                }
              },

              moveLeft = function () {

                if ($(document).trigger("startmoveleft") !== false) {

                  self.state.activeIndex = self.state.activeIndex + 1;

                  doMove();

                }
              };

              return {
                moveRight: moveRight,
                moveLeft: moveLeft,
                doMove: doMove
              };

            })();

            self.imgs = (function () {

              var attachEvents = function () {

                $(".cbImage").on("click", function (event) {
                //move[dir] the number of times difference
                //between index of active and index of clicked
                var dir = this.className.search(/left/gi) !== -1 ? "Right" : "Left",
                $coll = $(".cbImage"),
                diff = dir === "Right" ? ($coll.index($(".cbImage.active")) - $coll.index(this)) :
                ($coll.index($(".cbImage.active")) - $coll.index(this)) * -1,
                x;

                for (x = 0; x < diff; x++) {
                  self.actions["move" + dir]();
                }
              });

              };

              return {
                attachEvents: attachEvents
              };

            })();


            self.controls = (function () {

              var attachEvents = function () {

                $(".cbcontrol").on("click", function (event) {

                  var dir = self.utils.getDir(this.id),
                  active = $(".cbImage.active"),
                  makeActive = dir === "Right" ? active.prev(".cbImage") : active.next(".cbImage");

                  if (makeActive.length > 0) {
                    self.actions["move" + dir]();
                  }
                });

                $(".stage").on("touchstart", function (event) {
                  console.log("touch start");
                });

              };

              return {
                attachEvents: attachEvents
              };
            })();

            self.init = (function () {



              var $covers = $(".cbImage"),
              setStageDims = function () {
                self.state.stageDim = { x: $(".stage").outerWidth(), y: $(".stage").outerHeight() };
              },
              setCoverDims = function ($active) {
                self.state.coverDim = { x: $active.outerWidth(), y: $active.outerHeight() };
              },
              getSheet = function () {
                var l = $("#cbGeneratedClasses").length;
                if (l === 0) {
                  var $newsheet = $("<style type='text/css' id='cbGeneratedClasses'></style>"),
                  ss = $newsheet.appendTo("head")[0].sheet;
                }
                else {
                  $("#cbGeneratedClasses").text('');
                  var ss = $("#cbGeneratedClasses")[0].sheet;
                }
                return ss;
              },
              generateClasses = function () {

                var leftfac,
                rightfac,
                x,
                    z = 100,//TODO figure equation for zindex, increase closer to activeIndex, decrease after
                    cvrLength = $covers.length,
                    l = cvrLength * 2,
                    ss = getSheet(),
                    al;

                    al = (self.state.stageDim.x / 2) - (self.state.coverDim.x / 2);

                    ss.insertRule(".stage .active{left:" + al + "px;}", 0);

                    for (x = 0; x < l; x++) {

                    //create an inactive class for each direction
                    //for every element in the set
                    leftfac = al - ((self.state.coverDim.x * x) / 2) - (self.state.coverDim.x / 2);
                    rightfac = al + ((self.state.coverDim.x * x) / 2) + (self.state.coverDim.x / 2);
                    ss.insertRule(".inactiveLeft" + x + "{left:" + leftfac + "px;z-index:" + z + ";}", 0);
                    ss.insertRule(".inactiveRight" + x + "{left:" + rightfac + "px;z-index:" + z + ";}", 0);

                  }

                },
                doInit = function () {

                  var $active = $covers.filter(".active"),
                  activeIndex = $covers.index($active) !== -1 ? $covers.index($active) : 0;

                  setStageDims();
                  setCoverDims($active);

                  generateClasses();

                  self.controls.attachEvents();

                  self.imgs.attachEvents();

                  self.state.activeIndex = activeIndex;

                  self.actions.doMove();

                }(),
                reInit = function () {

                  var $active = $covers.filter(".active");

                  setStageDims();
                  setCoverDims($active);

                  generateClasses();

                };

                $(window).on("resize", function (event) {
                  self.init.reInit();
                });

                return {
                  reInit: reInit
                };

              })();

            })(jQuery);
          </script>
          <!-- ebooks js ends here -->
          <script type="text/javascript">
            $('.owl-carousel').owlCarousel({
              loop:true,
              margin:10,
              nav:true,
              responsive:{
                0:{
                  items:1
                },
                600:{
                  items:3
                },
                1000:{
                  items:5
                }
              }
            })
          </script>
          <script type="text/javascript">
            $(document).ready(function(){
              $(".dropdown").hover(
                function() {
                  $('.dropdown-menu', this).not('.in .dropdown-menu').stop(true,true).slideDown("400");
                  $(this).toggleClass('open');
                },
                function() {
                  $('.dropdown-menu', this).not('.in .dropdown-menu').stop(true,true).slideUp("400");
                  $(this).toggleClass('open');
                }
                );
            });
          </script>
          <script type="text/javascript">
            $(document).ready(function(){
    $('.customer-logos').slick({
        slidesToShow: 6,
        slidesToScroll: 1,
        autoplay: true,
        autoplaySpeed: 1500,
        arrows: false,
        dots: false,
        pauseOnHover: false,
        responsive: [{
            breakpoint: 768,
            settings: {
                slidesToShow: 4
            }
        }, {
            breakpoint: 520,
            settings: {
                slidesToShow: 3
            }
        }]
    });
});
          </script>
  {% endblock %}
        </body>
        </html>
